<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form method="post" action="/chats/<%=chat._id%>?_method=PATCH">
        <textarea name="msg"><%=chat.msg%></textarea>
        <button>Submit</button>
    </form>
</body>
</html>