<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form method="post" action="/chats">
        <label for="from">From:</label>
        <input type="text" name = "from" id = "from" placeholder="Enter who sent the msg">
        <br><br><br>
        <label for="to">To:</label>
        <input type="text" name="to" id="to" placeholder="Enter to whom the msg was sent">
        <br><br><br>
        <label for="msg">Message:</label>
        <input type="text" name="msg" id="msg" placeholder="Enter the msg sent">
        <br><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>